.DS_Store
.idea/
__pycache__
.texpadtmp/
*.npz
*.csv
data/char2idx.json
data/char_emb.json
data/dev_eval.json
data/dev_meta.json
data/glove.840B.300d.zip
data/glove.840B.300d/
data/test_eval.json
data/test_meta.json
data/train_eval.json
data/word2idx.json
data/word_emb.jsonimg/
save/train/
save1.zip
save1/
save2.zip
save2/
data/word_emb.json
